.createSubmemmit {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 156px auto;
}

.formDiv {
  display: flex;
  flex-direction: column;
}

#communityBanner {
  height: 100%;
}

.submemmitInput {
  font-size: 24px;
  width: 20%;
  height: 50px;
}

.submemmitInput:focus {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  outline: 0;
  width: 40%;
  -webkit-appearance: none;
  appearance: none;
  transition: all 0.5s ease-in-out;
  height: 40px;
  padding: 22px 12px 10px;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  background-color: #fcfcfb;
}

.submemmitInput::placeholder {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 12px;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 14px;
  left: 12px;
  color: #a5a4a4;
  text-transform: uppercase;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
  line-height: 23px;
}

.submitBtn {
  font-family: "IBMPlexSans", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: #fff;
  display: inline-block;
  border: none;
  border-radius: 4px;
  text-align: center;
  background: #0079d3;
  text-transform: uppercase;
  cursor: pointer;
  line-height: unset;
  height: 38px;
  width: 155px;
  min-width: 155px;
  overflow: inherit;
  position: relative;
}

.submitBtn:hover {
  opacity: 0.75;
}

.uploadContainer .uploadText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 8px;
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.uploadContainer:hover .uploadText {
  visibility: visible;
}
