nav {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  font: normal x-small verdana, arial, helvetica, sans-serif;
  font-size: 25px;
  color: black;
  padding: 15px;
  border-bottom: 1px solid #edeff1;
}

#homeAnchor {
  color: black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

button {
  font: normal x-small verdana, arial, helvetica, sans-serif;
  font-size: 25px;
}

.loginSignupBtns {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 40%;
}

.loginBtn {
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 3px 16px;
  text-transform: uppercase;
  border-color: #0079d3;
  color: #0079d3;
  border-radius: 2.5px;
  background-color: transparent;
  width: 120px;
}

.loginBtn:hover {
  opacity: 0.5;
}

.signupBtn {
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 3px 16px;
  text-transform: uppercase;
  border-color: #0079d3;
  color: white;
  border-radius: 2.5px;
  background-color: #0079d3;
  width: 120px;
}

.signupBtn:hover {
  opacity: 75%;
}

.logoutBtn {
  border: 1px solid transparent;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 3px 16px;
  text-transform: uppercase;
  border-color: #0079d3;
  color: white;
  border-radius: 2.5px;
  background-color: #0079d3;
  width: 120px;
}

.logoutBtn:hover {
  opacity: 75%;
}

#navLogo {
  height: 32px;
  width: 32px;
}

.homeNavLink {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}
